<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.Page > 1)
        {
            <li>
                <a href="@Url.Action(ViewBag.Action as string,new { page = Model.Page - 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a href="@Url.Action(ViewBag.Action as string,new { page = Model.Page - 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (var index = 1; index <= Model.TotalPages; index++)
        {

            <li>@Html.ActionLink((index).ToString(), ViewBag.Action as string, new { page = index })</li>
        }
        @if (Model.Page < Model.TotalPages)
            {
            <li>
                <a href="@Url.Action(ViewBag.Action as string,new { page = Model.Page + 1 })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }

    </ul>
</nav>

